# Ignore Gradle project-specific cache directory
.gradle
# Ignore IDEA project-specific cache directory
.idea
*.iml

# Ignore Gradle build output directory
build
# Ignore IDEA build output directory
out

# 忽略日志
logs

# Tethys 开发配置
tethys.conf
tethys-dev.properties
flyway.conf
test-tokens.txt