<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2019-2020 the original author or authors

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<Configuration status="warn">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %c{36} %L - %msg%n"/>
    </Console>

    <File name="File" fileName="logs/im-server.log">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %c{36} %L - %msg%n"/>
    </File>
    <Async name="FileAsync">
      <AppenderRef ref="File"/>
    </Async>

    <File name="AppMetrics" fileName="logs/im-metrics.log">
      <PatternLayout>
        <Pattern>%m%n</Pattern>
      </PatternLayout>
    </File>
    <Async name="AppMetricsAsync">
      <AppenderRef ref="AppMetrics"/>
    </Async>
  </Appenders>
  <Loggers>
    <Logger name="io.netty" level="info"/>
    <Logger name="io.netty.buffer.PooledByteBufAllocator" level="debug"/>
    <Logger name="io.r2dbc.postgresql" level="info"/>

    <!--    <Logger name="reactor.netty.channel.FluxReceive" level="debug"/>-->

    <!-- 应用程序度量日志配置 -->
    <Logger name="io.micrometer.core.instrument.logging.LoggingMeterRegistry" additivity="false">
      <AppenderRef ref="AppMetricsAsync"/>
    </Logger>

    <!-- 控制台日志 -->
    <Logger name="top.yein.tethys.im.main.ImMain" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="top.yein.tethys.im.server.ImServer" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="top.yein.tethys.im.server.GrpcServer" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>

    <Root level="info">
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>
