:root {
  /* colors */
  --black: #000000;
  --black-ter: hsl(0, 0%, 14%);
  --grey-dark: hsl(0, 0%, 29%);
  --grey: hsl(0, 0%, 48%);
  --grey-light: hsl(0, 0%, 71%);

  --chat-top-height: 128px;
  --chat-left-width: 180px;
  --chat-action-height: 88px;
}
