<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="connectionFactory" class="io.r2dbc.spi.ConnectionFactories" factory-method="get">
    <constructor-arg name="url" value="${message-storage.r2dbc.url}"/>
  </bean>

  <bean id="transactionManager"
      class="org.springframework.r2dbc.connection.R2dbcTransactionManager">
    <constructor-arg name="connectionFactory" ref="connectionFactory"/>
  </bean>

  <bean id="databaseClient" class="org.springframework.r2dbc.core.DatabaseClient"
      factory-method="create">
    <constructor-arg name="factory" ref="connectionFactory"/>
  </bean>

  <bean id="serverInstanceRepository" class="top.yein.tethys.repository.ServerInstanceRepositoryImpl">
    <constructor-arg name="dc" ref="databaseClient"/>
  </bean>
  <bean id="jwtSecretRepository" class="top.yein.tethys.repository.JwtSecretRepositoryImpl">
    <constructor-arg name="dc" ref="databaseClient"/>
  </bean>
  <bean id="privateMessageRepository"
      class="top.yein.tethys.repository.PrivateMessageRepositoryImpl">
    <constructor-arg name="dc" ref="databaseClient"/>
  </bean>
  <bean id="groupMessageRepository" class="top.yein.tethys.repository.GroupMessageRepositoryImpl">
    <constructor-arg name="dc" ref="databaseClient"/>
  </bean>

</beans>
